[Unit]
Description=CockroachDB - A scalable, survivable, strongly-consistent SQL database.
After=network.target

[Service]
Environment="HOST=127.0.0.1"
Environment="PORT=26257"
Environment="HTTP_PORT=8080"
Environment="STORE=/var/lib/cockroach,size=90%"
Environment="ADDITIONAL_ARGS=--cache 25% --max-sql-memory 25%"
EnvironmentFile=-/etc/default/cockroach
PermissionsStartOnly=true
WorkingDirectory=/
ExecStartPre=-/bin/mkdir -p /var/run/cockroach
ExecStartPre=-/bin/chown cockroach:cockroach /var/run/cockroach
ExecStartPre=-/bin/chmod 700 /var/run/cockroach
ExecStartPre=/bin/bash -c \
	". /etc/default/cockroach; \
		if [[ -n $$INSECURE ]]; then \
			echo INSECURE='--insecure' > /var/run/cockroach/.environment; \
		fi"
EnvironmentFile=-/var/run/cockroach/.environment
ExecStart=/usr/local/bin/cockroach start \
	--no-color \
	--host ${HOST} \
	--port ${PORT} \
	--http-port ${HTTP_PORT} \
	--log-dir /var/log/cockroach \
	--store $STORE \
	$ADDITIONAL_ARGS \
	$INSECURE
ExecStartPost=-/bin/rm -f \
	/var/run/cockroach/.environment
ExecStop=/usr/local/bin/cockroach quit \
	--host ${HOST} \
	--port ${PORT} \
	$INSECURE
ExecStopPost=-/bin/rm -f \
	/var/run/cockroach/.environment
ExecReload=/bin/kill -HUP $MAINPID
User=cockroach
Group=cockroach
ProtectHome=yes
ProtectSystem=full
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
KillMode=process
Restart=on-failure
RestartSec=1
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
